@model CategoryVM
@{
    ViewData["Title"] = "Detail";
}



<style>

    .brand {
        border: 1px solid #2a254b;
        padding: 4px;
        text-align: center;
        width: fit-content;
        color: #2a254b;
    }

</style>



<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <!-- Category Details -->
            <div class="d-flex flex-column justify-content-center h-100">
                <h2 class="mb-3">@Model.Name</h2>
                <p class="text-muted">Created Time: @Model.CreateTime</p>
                <span>Brands:</span>
                <div class="d-flex gap-2 flex-wrap">
                    @foreach (var item in Model.Brands)
                    {
                        @if(!item.SoftDeleted){
                            
                        <p class="brand">@item.Name</p>
                        }
                    }

                </div>


            </div>
        </div>
    </div>
    <div class="back mt-2">
        <a class="btn btn-dark btn-lg text-white" asp-action="Index">Back</a>
    </div>

</div>


