@model List<TermsVM>
@{
    ViewData["Title"] = "Index";
}

@section css {
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/assets/css/pages/terms/terms.css" />
}

<!-- Main Part -->
<main>
    <section id="terms">
        <div class="container">
            <div class="termsContainer">
                <h1>Terms of Use</h1>
                <ul>
                    @foreach (var term in Model)
                    {
                        <li>
                            <h6>@term.Title</h6>
                            <p>
                                @term.Context
                            </p>
                        </li>
                    }
               
                </ul>
            </div>
        </div>
    </section>
</main>

