@model ForgotPasswordVM
@{
    ViewData["Title"] = "ForgotPassword";
}

@section css {
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/assets/css/pages/login/login.css" />
}

<!-- Main Part -->
<main>
    <section id="login">
        <div class="container">
            <form method="post" asp-controller="Account" asp-action="ForgotPassword" class="login-form">
                <h1>Forgot Password?</h1>
                <div class="mb-3">
                    <label asp-for="Email" class="form-label">Email</label>
                    <input asp-for="Email" class="form-control">
                    <span style="color:red;margin-bottom:5px;" asp-validation-for="Email"></span>
                </div>
                <button type="submit">Send</button>

            </form>
        </div>
    </section>
</main>


