
@{
    ViewData["Title"] = "Login";
}

@section css {
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/assets/css/pages/login/login.css" />
}

<!-- Main Part -->
<main>
    <section id="login">
        <div class="container">
            <form class="login-form">
                <h1>Welcome Back</h1>
                <p>Please login to your account</p>
                <div class="input-group">
                    <input type="text"
                           id="username"
                           name="username"
                           placeholder="Username"
                           required />
                </div>
                <div class="input-group">
                    <input type="password"
                           id="password"
                           name="password"
                           placeholder="Password"
                           required />
                </div>
                <div class="input-group">
                    <input type="checkbox" style="width: 13px" />
                    <span style="margin-left: 5px">Remember me</span>
                </div>
                <button type="submit">Login</button>
                <div class="bottom-text">
                    <p>
                        Don't have an account? <a href="./register.html">Sign Up</a>
                    </p>
                    <p><a href="#">Forgot password?</a></p>
                </div>
            </form>
        </div>
    </section>
</main>

