@model LoginVM
@{
    ViewData["Title"] = "Login";
}

@section css {
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/assets/css/pages/login/login.css" />
}

<!-- Main Part -->
<main>
    <section id="login">
        <div class="container">
            <form method="post" asp-controller="Account" asp-action="Login" class="login-form">
                <h1>Welcome Back</h1>
                <p>Please login to your account</p>
                <div style="color:red" ; asp-validation-summary="All"></div>
                <div class="mb-3">
                    <label asp-for="EmailOrUsername" class="form-label">EmailOrUsername</label>
                    <input asp-for="EmailOrUsername" class="form-control">
                    <span style="color:red;margin-bottom:5px;" asp-validation-for="EmailOrUsername"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label">Password</label>
                    <input asp-for="Password" class="form-control">
                    <span style="color:red;margin-bottom:5px;" asp-validation-for="Password"></span>
                </div>
                <div class="input-group">
                    <input type="checkbox" style="width: 13px" />
                    <span style="margin-left: 5px">Remember me</span>
                </div>
                <button type="submit">Login</button>
                <div class="bottom-text">
                    <p>
                        Don't have an account? <a href="./register.html">Sign Up</a>
                    </p>
                    <p><a href="#">Forgot password?</a></p>
                </div>
            </form>
        </div>
    </section>
</main>

