@model TagEditVM
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <!-- Editable Tag Details Form -->
            <form method="post" asp-action="Edit" enctype="multipart/form-data">
         
                <div class="mb-3">
                    <label asp-for="Name" class="form-label">Tag Name</label>
                    <input asp-for="Name" class="form-control" id="TagTitle" rows="4"></input>
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>

    
                <button type="submit" class="btn btn-success btn-lg">Save Changes</button>
            </form>
        </div>
    </div>
    <div class="back ">
        <a class="btn btn-dark btn-lg text-white" asp-action="Index">Back</a>
    </div>
</div>
