@model AboutPageVM
@{
    ViewData["Title"] = "Index";
}

@section css{
    <!-- Custom CSS -->
    <link rel="stylesheet" href="./assets/css/features.css" />
    <link rel="stylesheet" href="./assets/css/pages/about/about.css" />
}

<!-- Main Part -->
<main>
    <section id="aboutPage">
        <div class="container">
            <h2>
                A brand built on the love of craftmanship, quality and outstanding
                customer service
            </h2>
            @foreach (var about in Model.Abouts)
            {
                
            <div class="aboutPage-content row">
                <div class="aboutPage-content--left col-md-6">
                    <div>
                        <h2>
                         @about.Title
                        </h2>
                        <p>
                                @Html.Raw(about.Description)
                            
                        </p>
                    </div>
                    <div class="readMore">
                        <a href="">Get in touch</a>
                    </div>
                </div>
                <div class="aboutPage-content--right col-md-6">
                    <img src="./assets/images/@about.Image" alt="" />
                </div>
            </div>
            }
        </div>
    </section>
    <!-- Features Section -->
    <section id="features">
        <div class="container">
            <h3>What makes our brand different</h3>
            <div class="row features">
                @foreach (var feature in Model.Features)
                {
                    
                <div class="col-lg-3">
                    <div class="feature">
                        <img src="./assets/images/@feature.Image" alt="" />
                        <h4>@feature.Title</h4>
                        <p>
                            @feature.Description
                        </p>
                    </div>
                </div>
                }
                
            </div>
        </div>
    </section>
</main>

